openapi: 3.1.0
info:
  title: Synchrony Financial Credit Authorization Applications Purchases API
  description: The Synchrony Financial Credit Authorization API allows merchants and retailers to perform credit card transactions including purchases, preauthorizations, completions, payments, refunds, and reversals. The API supports transactions via payment tokens or full account numbers across web, mobile, and point-of-sale channels.
  version: '1.0'
  contact:
    url: https://developer.syf.com/
servers:
- url: https://api.syf.com
  description: Production
- url: https://sandbox.api.syf.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Purchases
  description: Authorize and capture purchase transactions.
paths:
  /v1/authorizations/purchases:
    post:
      operationId: createPurchase
      summary: Create Purchase Authorization
      description: Initiates a purchase transaction against a Synchrony credit account. Supports both payment token and full account number submission. Returns an authorization code upon approval.
      tags:
      - Purchases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: Transaction approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '422':
          description: Transaction declined
components:
  schemas:
    PurchaseRequest:
      type: object
      required:
      - merchantId
      - amount
      - accountNumber
      properties:
        merchantId:
          type: string
          description: The merchant's Synchrony identifier.
        accountNumber:
          type: string
          description: Customer's credit account number or payment token.
        amount:
          type: number
          format: float
          description: Transaction amount in dollars.
        channel:
          type: string
          enum:
          - web
          - mobile
          - pos
          description: The transaction channel.
        merchantOrderId:
          type: string
          description: Merchant's internal order reference.
    AuthorizationResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique identifier for the transaction.
        authorizationCode:
          type: string
          description: Authorization code returned on approval.
        status:
          type: string
          enum:
          - approved
          - declined
          - pending
        amount:
          type: number
          format: float
        accountNumber:
          type: string
          description: Masked account number.
        timestamp:
          type: string
          format: date-time
        message:
          type: string
          description: Human-readable status message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
