openapi: 3.1.0
info:
  title: Synchrony Financial Credit Authorization Applications API
  description: The Synchrony Financial Credit Authorization API allows merchants and retailers to perform credit card transactions including purchases, preauthorizations, completions, payments, refunds, and reversals. The API supports transactions via payment tokens or full account numbers across web, mobile, and point-of-sale channels.
  version: '1.0'
  contact:
    url: https://developer.syf.com/
servers:
- url: https://api.syf.com
  description: Production
- url: https://sandbox.api.syf.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Applications
  description: Full credit card application submissions.
paths:
  /v1/credit/applications:
    post:
      operationId: submitApplication
      summary: Submit Credit Application
      description: Submits a full credit card application for a customer. The customer receives an instant decision and access to their credit line upon approval. Supports web and mobile (mApply) channels.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditApplication'
      responses:
        '201':
          description: Application submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          description: Bad request
        '422':
          description: Application declined
components:
  schemas:
    ApplicationResponse:
      type: object
      properties:
        applicationId:
          type: string
        decision:
          type: string
          enum:
          - approved
          - declined
          - pending
        creditLimit:
          type: number
          format: float
        accountNumber:
          type: string
          description: Masked account number on approval.
        message:
          type: string
        timestamp:
          type: string
          format: date-time
    CreditApplication:
      type: object
      required:
      - merchantId
      - firstName
      - lastName
      - dateOfBirth
      - ssn
      - address
      - email
      properties:
        merchantId:
          type: string
        offerId:
          type: string
          description: Pre-filled from Quickscreen offer if available.
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        ssn:
          type: string
          description: Social Security Number (encrypted).
        address:
          $ref: '#/components/schemas/Address'
        email:
          type: string
          format: email
        phone:
          type: string
        channel:
          type: string
          enum:
          - web
          - mobile
    Address:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        country:
          type: string
          default: US
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
