openapi: 3.2.0
info:
  title: Synchrony Financial Quickscreen Apply Decisions API
  description: The Synchrony Financial Quickscreen Apply API is a preapproval engine that allows merchants to offer instant credit decisions using only a customer's name and address. It runs a soft credit check and returns a real-time decision, enabling seamless credit offering within the shopping experience. The mApply feature allows customers to securely apply for credit on mobile devices and instantly access their approved credit line.
  version: '1.0'
  contact:
    url: https://developer.syf.com/our-products/quickscreen-apply
servers:
- url: https://api.syf.com
  description: Production
- url: https://sandbox.api.syf.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Decisions
  description: Retrieve application decisions.
paths:
  /v1/credit/applications/{applicationId}:
    get:
      operationId: getApplicationDecision
      summary: Get Application Decision
      description: Retrieves the decision and status for a previously submitted credit application by its unique identifier.
      tags:
      - Decisions
      parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          type: string
        description: The unique application identifier.
      responses:
        '200':
          description: Application decision retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '404':
          description: Application not found
components:
  schemas:
    ApplicationResponse:
      type: object
      properties:
        applicationId:
          type: string
        decision:
          type: string
          enum:
          - approved
          - declined
          - pending
        creditLimit:
          type: number
          format: float
        accountNumber:
          type: string
          description: Masked account number on approval.
        message:
          type: string
        timestamp:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
